/test.py
/test.ipynb
/__pycache__
__pycache__/
/Data
/OldCodes
main.py
main2.py
.DS*
neo4j.ipynb
/main.py
/SimType*
/main_boulma
DataStorage/SimulationResults/SimType*
/APP_Init
/conf
/data
/import
/logs
/plugins
/all-rnr-annotated-threads
/SimulationResults
/font
/lib
main.py
.DS*
neo4j.ipynb
graph.json
authentification.json
main_Guerfi.py