/test.py

/__pycache__
__pycache__/
/Data
/OldCodes
main.py
main2.py
.DS*
neo4j.ipynb
/main.py
/SimType*
/main_boulma
DataStorage/SimulationResults/SimType*
/APP_Init
/conf
/data
/import
/logs
/plugins
/all-rnr-annotated-threads
/SimulationResults
/font
/lib
main.py
.DS*

graph.json
authentification.json
main_Guerfi.py
test_guerfi.ipynb